*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--body-color);
  background: var(--body-bg);
}

a {
  color: var(--primary-color);
}

img {
  max-width: 100%;
  height: auto;
}
